<h1>This is the secret page</h1>

<p>You found the secret page</p>

<img src="http://www.karmicshealing.com/wp-content/uploads/2016/10/shhh-it-s-a-secret-uJtymY-clipart.jpg">

<li><a href="/logout">Log Out</a></li>